{{define "footer"}}
  {{/* This should be split on new releases */}}
  <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="text-center">
      <p>
        <a href="http://github.com/agonzalezro/polo">polo</a> is made with
        <span class="glyphicon glyphicon-heart"></span> by
        <a href="http://twitter.com/agonzalezro">@agonzalezro</a>
      </p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>
{{end}}
