{{define "footer"}}
<div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="text-center">
    <p>
      <a href="http://github.com/agonzalezro/polo">polo</a> is made with
      <span class="glyphicon glyphicon-heart"></span> by
      <a href="http://twitter.com/agonzalezro">@agonzalezro</a>
    </p>
  </div>
</div>
{{end}}
