{{define "navbar"}}
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{.Config.Title}}</a>
    </div>
    {{if .ShowHeader}}
    <div class="navbar-collapse collapse">
      {{if or .Pages (and .Articles .Config.ShowArchive)}}
      <ul class="nav navbar-nav">
        {{if .Config.ShowArchive}}
        <li><a href="/archive.html">Archives</a></li>
        {{end}}

        {{range $_, $page := .Pages}}
        <li><a href="/pages/{{$page.Slug}}">{{$page.Title}}</a></li>
        {{end}}
      </ul>
      {{ end }}

      {{if or (and .Categories .Config.ShowCategories) (and .Tags .Config.ShowTags)}}
      <ul class="nav navbar-nav navbar-right">
        {{if and .Categories .Config.ShowCategories}}
        <li class="dropdown">
        <a href="#" data-toggle="dropdown">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {{range $_, $category := .Categories}}
          {{$articles := $.FilterByCategory $category}}
          <li>
          <a href="/category/{{$category}}.html">{{$category}} <span class="badge pull-right">{{len $articles}}</span></a>
          </li>
          {{end}}
        </ul>
        </li>
        {{end}}

        {{if and .Tags .Config.ShowTags}}
        <li class="dropdown">
        <a href="#" data-toggle="dropdown">Tags <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {{range $_, $tag := .Tags}}
          {{$articles := $.FilterByTag $tag}}
          <li>
          <a href="/tag/{{$tag}}.html">{{$tag}} <span class="badge pull-right">{{len $articles}}</span></a>
          </li>
          {{end}}
        </ul>
        </li>
        {{end}}
      </ul>
      {{end}}
    </div>
    {{end}}
  </div>
</div>
{{end}}
