{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{if .Site.Config.Favicon}}
    <link rel="shortcut icon" href="{{.Site.Config.Favicon}}"
    {{end}}

    <title>{{template "title" .}}</title>

    {{template "header" .}}
    {{template "header_scripts" .}}
    {{template "share_this" .}}

    <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  </head>

  <body>
    {{template "navbar" .}}
    {{template "content" .}}
    {{template "footer" .}}
    {{template "footer_scripts" .}}
    {{template "analytics" .}}
  </body>
</html>
{{end}}
