{{define "comments"}}
{{if .Config.DisqusSitename}}
<h2>Comments</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = '{{.Config.DisqusSitename}}';
  // TODO (agonzalezro): Compatibility with my old blog articles
  // I don't know if it will work for other users
  var disqus_identifier = '{{.Article.Slug}}';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{end}}
{{end}}
