{{define "title"}}
{{.Article.Title}} | {{.Site.Config.Title}}
{{end}}

{{define "content"}}
<h1>{{.Article.Title}}</h1>

<p>
{{if or .Site.Config.Author $article.Author}}
<span class="label label-default">by {{if $article.Author}}{{$article.Author}}{{else}}{{$.Site.Config.Author}}{{end}}</span>

{{if .Article.Date}}
<span class="label label-default">{{.HumanizeDatetime .Article.Date}}</span>
{{end}}

{{if .Article.Category}}
<a class="label label-success" href="/category/{{.Article.Category}}.html">{{.Article.Category}}</a>
{{end}}

{{if .Article.Tags}}
{{range $_, $tag := .Article.Tags}}
<a class="label label-info" href="/tag/{{$tag}}.html">{{$tag}}</a>
{{end}}
{{end}}
</p>

{{.Article.HTML .Article.Content}}

{{if .Site.Config.ShareThisPublisher}}
{{template "sharethis" .}}
{{end}}

{{if .Site.Config.DisqusSitename}}
{{template "disqus" .}}
{{end}}
{{end}}
